.git
.github
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.DS_Store
**/node_modules
**/.next
**/out
data
.env
.env.local
.env.production
terraform/**/.terraform
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
backend/api/api_lambda.zip
